:root {
    /* Background colors */
    --main-background: hsl(218, 28%, 13%);
    --intro-email-background: hsl(217, 28%, 15%);
    --footer-background: hsl(216, 53%, 9%);
    --reviews-background: hsl(219, 30%, 18%);
    /* Accent colors */
    --teal: hsl(176, 68%, 64%);
    --cyan: hsl(198, 60%, 50%);
    --red: hsl(0, 100%, 63%);
    --white: hsl(0, 0%, 100%);
    /* Font */
    --heading-font-family: "Raleway", sans;
    --heading-font-weight-auto: 400;
    --heading-font-weight-bold: 700;
    --h1-size: 45px;
    --h2-size: 35px;
    --h3-size: 25px;
    --h5-size: 14px;
    --body-font-family: "Open Sans", sans;
    --body-font-size: 20px;
    --body-font-weight-auto: 400;
    --body-font-weight-bold: 700;
    /* Spacing */
    --spacing-sm: 8px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --standard-width: 1144px;
}

/* To prevent horizontal overflow when building responsive site */
/* html, body {
    width: 100%;
    position: relative;
    overflow-x: hidden;
} */

/* Body */
body {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight-auto);
    background-color: var(--intro-email-background);
    color: var(--white);
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    width: 100%;
    margin: var(--spacing-xl) 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
h1 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight-bold);
    font-size: var(--h1-size);
}

h2 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight-bold);
    font-size: var(--h2-size);
}

h3 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight-bold);
    font-size: var(--h3-size);
}

h5 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight-bold);
    font-size: var(--h5-size);
}

a {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    transition: all 0.25s ease;
}

a:hover {
    text-decoration: underline;
    opacity: 1;
}

p {
    line-height: 26px;
    font-weight: normal;
    margin: var(--spacing-md) 0;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--spacing-xl) var(--spacing-xl);
    margin: 0;
    box-sizing: border-box;
    background-color: var(--intro-email-background);
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.menu a {
    color: var(--white);
    margin: 0 var(--spacing-lg);
    font-weight: normal;
    letter-spacing: 1px;
    transition: color 0.25s ease;
}

.menu a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

/* Hero */
.hero-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0 0 var(--spacing-lg) 0;
    background-color: var(--intro-email-background);
    background-image: url("./images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom -1% right;
    background-size: 100%;
}

.hero h1 {
    padding: var(--spacing-lg) 0;
    width: 100%;
    text-wrap: wrap;
    font-weight: var(--heading-font-weight-bold);
}

.hero p {
    width: 100%;
    text-wrap: wrap;
}

.hero-section button {
    margin: var(--spacing-md) 0;
    padding: 18px 100px;
    border-radius: 20px;
    border: none;
    background-color: var(--cyan);
    color: var(--white);
    transition: background-color 0.3s ease-in-out;
    font-size: 18px;
}

.hero-section button:hover {
    /* transform: translateY(-0.25em);
    box-shadow: 0 0.5em 0.5em -0.4em var(--white); */
    background-color: white;
    color: var(--cyan);
    cursor: pointer;
}

/* Features section */
.features-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: calc(var(--spacing-xl)*2) 0 calc(var(--spacing-xl)*2) 0;
    background-color: var(--main-background);
}

.features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: var(--spacing-xl);
    column-gap: calc(var(--spacing-xl)*2);
    padding: 0 calc(var(--spacing-xl)*3);
}

.features-section .card-container img {
    height: 60px;
    place-self: center;
}

.features-section .card-container h3 {
    padding: 0;
    margin: var(--spacing-md) 0 0 0;
}

.features-section .card-container p {
    font-size: 16px;
}

/* How Fylo Works section */
.how-it-works-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--spacing-xl) var(--spacing-xl);
    margin: 0;
    box-sizing: border-box;
    background-color: var(--main-background);
}

.how-it-works-section .col-left {
    display: flex;
    width: 50%;
}

.how-it-works-section .col-right {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;
    width: 50%;
}

.how-it-works-section .col-right h1 {
    margin: 0;
    padding: 0;
}

.how-it-works-section .col-right p {
    font-size: 18px;
}

.how-it-works-section .col-right .button-with-icon {
    padding: 0;
    margin: 0;
    max-width: 185px;
    display: relative;
    color: var(--teal);
    background-color: transparent;
    line-height: 35px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid var(--teal);
    transition: color 0.25s ease;
    width: 31%;
    text-align: left;
}

.how-it-works-section .col-right .button-with-icon:hover {
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;
}

.button-with-icon > img {
  transition: transform 0.25s ease;
}

.button-with-icon:hover > img {
  transform: translateX(4px);
}

/* Reviews section */
.reviews-section {
    max-width: 100%;
    padding: calc(var(--spacing-xl)*3) calc(var(--spacing-xl)*3);
    background-color: var(--main-background);
}

.reviews-section .section-container {
    width: 100%;
    display: flex;
    column-gap: var(--spacing-lg);
    text-align: left;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 0;
}

#quotes {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateY(-35px) translateX(-10px);

}

.reviews-section .section-container .card-container {
    font-size: 16px;
    background-color: var(--reviews-background);
    padding: calc(var(--spacing-md)*3) var(--spacing-lg);
    z-index: 1;
}

.reviews-section .card-container .profile {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: left;
    margin-top: var(--spacing-lg);
}

.reviews-section .card-container .left {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.reviews-section .card-container .col-right {
    width: 100%;
}

.reviews-section .card-container .profile img {
    height: 40px;
    border-radius: 20px;
}

.reviews-section .card-container .profile h5 {
    margin: 0;
    padding: 0;
}

.reviews-section .card-container .profile p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

/* Access section */
.access-section {
    display: flex;
    justify-content: center;
    margin: 0 0 calc(var(--spacing-xl)*2) 0;
    padding: 0 calc(var(--spacing-xl)*3);
    background-color: var(--main-background);
}

.access-section .card-container {
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--intro-email-background);
    border-radius: 10px;
    padding: var(--spacing-xl) calc(var(--spacing-lg)*2);
    z-index: 1;
}

.access-section .card-container h2 {
    margin: 0;
}

.access-section .card-container p {
    width: 80%;
    margin: var(--spacing-lg) 0;
}

.access-section .card-container .get-started {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 30px;
    box-sizing: border-box;
    margin: var(--spacing-lg) 0;
    position: relative;
}

.access-section .card-container .get-started input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    padding: 30px 200px;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 16px;
}

.access-section .card-container .get-started button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 30px 80px;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: var(--cyan);
    color: var(--white);
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
    text-wrap: none;
}

.access-section .card-container .get-started button:hover {
    /* transform: translateY(-0.25em);
    box-shadow: 0 0.5em 0.5em -0.4em var(--white); */
    background-color: white;
    color: var(--cyan);
    cursor: pointer;
}


/* Footer section */
.footer {
    background-color: var(--footer-background);
    margin: 0;
    padding: var(--spacing-xl) var(--spacing-lg);
    width: 100%;
    position: relative;
}

.footer::before {
  content: "";
  background-color: var(--footer-background);
  width: 100%;
  height: 300px;
  position: absolute;
  top: -300px;
  left: 0;
  z-index: 0;
}

#footer-logo {
    position: absolute;
    top: 0;
    left: 2;
}

.footer .section-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    width: 95%;
    padding: var(--spacing-lg);
    column-gap: var(--spacing-xl);
    font-size: 18px;
}

.footer-paragraph {
    width: 25%;
    line-height: 22px;
}

.footer .footer-contact {
    width: 20%;
    line-height: 50px;
}

.footer .footer-contact img {
    padding-right: var(--spacing-md);
}

.footer .footer-links {
    width: 55%;
    line-height: 50px;
    text-wrap: wrap;
}

.footer .socials {
    width: 10%;
}

.footer .socials img {
    max-height: 5px;
    max-width: 5px;
}

/* Media Queries Sizes:
- Mobile: 375px
- Desktop: 1440px */