:root {
    /* Background colors */
    --main-background: hsl(218, 28%, 13%);
    --intro-email-background: hsl(217, 28%, 15%);
    --footer-background: hsl(216, 53%, 9%);
    --reviews-background: hsl(219, 30%, 18%);
    /* Accent colors */
    --teal: hsl(176, 68%, 64%);
    --cyan: hsl(198, 60%, 50%);
    --red: hsl(0, 100%, 63%);
    --white: hsl(0, 0%, 100%);
    /* Font */
    --heading-font-family: "Raleway", sans;
    --heading-font-weight-auto: 400;
    --heading-font-weight-bold: 700;
    --h1-size: 45px;
    --h2-size: 35px;
    --h3-size: 25px;
    --h5-size: 12px;
    --body-font-family: "Open Sans", sans;
    --body-font-size: 20px;
    --body-font-weight-auto: 400;
    --body-font-weight-bold: 700;
    /* Spacing */
    --spacing-sm: 8px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --standard-width: 1144px;
}

/* To prevent horizontal overflow when building responsive site */
/* html, body {
    width: 100%;
    position: relative;
    overflow-x: hidden;
} */

/* Body */
body {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight-auto);
    background-color: var(--main-background);
    color: var(--white);
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    width: 100%;
    margin: var(--spacing-xl) 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
h1 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight-bold);
    font-size: var(--h1-size);
}

h2 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight-bold);
    font-size: var(--h2-size);
}

h3 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight-bold);
    font-size: var(--h3-size);
}

h5 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight-bold);
    font-size: var(--h5-size);
}

a {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    transition: color 0.25s ease;
}

a:hover {
    color: var(--teal);
}

p {
    line-height: 26px;
    font-weight: normal;
    margin: var(--spacing-md) 0;
}

ul > li {
    list-style-type: none;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--spacing-xl) var(--spacing-xl);
    margin: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.menu a {
    color: var(--white);
    margin: 0 var(--spacing-lg);
    font-weight: normal;
    letter-spacing: 1px;
    transition: color 0.25s ease;
}

.menu a:hover {
    text-decoration: underline;
    color: var(--teal);
}

/* Hero */
.hero-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 calc(var(--spacing-xl)*2) 0;
}

.hero h1 {
    padding: var(--spacing-lg) 0;
    width: 100%;
    text-wrap: wrap;
    font-weight: var(--heading-font-weight-bold);
}

.hero p {
    width: 100%;
    text-wrap: wrap;
}

.hero-section button {
    margin: var(--spacing-md) 0;
    padding: 18px 100px;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to right, var(--teal), var(--cyan));
    color: var(--white);
    transition: transform 0.25s ease-in-out;
    font-size: 18px;
}

.hero-section button:hover {
    transform: translateY(-0.25em);
    box-shadow: 0 0.5em 0.5em -0.4em var(--white);
    cursor: pointer;
}

/* Features section */
.features-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 0 calc(var(--spacing-xl)*2) 0;
}

.features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: var(--spacing-xl);
    column-gap: calc(var(--spacing-xl)*2);
    padding: 0 calc(var(--spacing-xl)*3);
}

.features-section .card-container img {
    height: 60px;
    place-self: center;
}

.features-section .card-container h3 {
    padding: 0;
    margin: var(--spacing-md) 0 0 0;
}

.features-section .card-container p {
    font-size: 16px;
}

/* How Fylo Works section */
.how-it-works-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--spacing-xl) var(--spacing-xl);
    margin: 0;
    box-sizing: border-box;
}

.how-it-works-section .col-left {
    display: flex;
    width: 50%;
}

.how-it-works-section .col-right {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;
    width: 50%;
}

.how-it-works-section .col-right h1 {
    margin: 0;
    padding: 0;
}

.how-it-works-section .col-right p {
    font-size: 18px;
}

.how-it-works-section .col-right a {
    display: relative;
    color: var(--teal);
    transition: color 0.25s ease;
    line-height: 35px;
    font-size: 18px;
    border-bottom: 2px solid var(--teal);
    width: 31%;
}

.how-it-works-section .col-right a:hover {
    opacity: 0.75;
    cursor: pointer;
}

/* Media Queries Sizes:
- Mobile: 375px
- Desktop: 1440px */